@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.main {
    height: 100%;
    width: 100%;
}

.header__search {
    background-color: #181823;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__search a {
    color: #2691d9;
    font-size: 24px;
    text-decoration: none;
}

.header__search a span {
    color: red;
}

.option a {
    color: #fff;
    background-color: red;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 700;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input[type="text"] {
    width: 75%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    outline: none;
    transition: all 0.5s;
}

.search input[type="submit"] {
    width: 20%;
    height: 40px;
    border: 1px solid #2691d9;
    background: #2691d9;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-left: 5px;
}

.result__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

table {
    width: 80%;
    text-align: center;
    border: 1px solid #333;
}

th,
td {
    padding: 6px 17px;
    font-size: 18px;
}

th {
    border-bottom: 1px solid #333;
}

td {
    border-bottom: 1px solid #333;
}



.avatar {
    width: 90px;
    height: 90px;
    border: 1px solid #333;
    border-radius: 50%;
}

#edit {
    width: 200px;
    text-align: center;
}

#edit-1 {
    width: 100px;
    text-align: center;
}

#edit,
#edit-1 {
    outline: none;
    border: none;
    font-size: 18px;
}

#delete a {
    padding: 10px;
    color: red;
    font-size: 24px;
}

#update {
    width: 70px;
    padding: 12px;
    cursor: pointer;
    background-color: #2691d9;
    font-weight: 700;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
}

.next__page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.page.current {
    text-decoration: none;
    color: #fff;
    background-color: #2691d9;
    padding: 5px 20px;
    margin-right: 10px;
    width: 50px;
    text-align: center;
}

.page {
    text-decoration: none;
    border: 1px solid #2691d9;
    color: black;
    padding: 5px 20px;
    margin-right: 10px;
    width: 50px;
    text-align: center;
}

.page:hover {
    background-color: #9cd0f3;
}

.errorMessage {
    color: red;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
    margin-left: 150px;
}